@model IEnumerable<ResWebsite.DAL.Entity.SupplierType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Nhóm nhà cung cấp</h3>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item " aria-current="page">Trang chủ</li>
        <li class="breadcrumb-item " aria-current="page">Nhà cung cấp</li>
        <li class="breadcrumb-item active" aria-current="page">Nhóm nhà cung cấp</li>
    </ol>
</nav>
<div class="row">
    <div class="col-lg-12">
        <p>
            <button class="btn btn-default"><a href="/Admin/Suppliers/Create/" style="text-decoration:none;">Tạo mới nhóm nhà cung cấp</a></button>
        </p>
        <table class="table">
            <tr>
                <th>
                    Tên nhóm nhà cung cấp
                </th>
                <th>
                    Mô tả
                </th>
                <th>
                    Trạng thái
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @{
                            if (@item.Status == 1)
                            {
                                <p>Đang theo dõi</p>
                            }
                            else
                            {
                                <p>Ngừng theo dõi</p>
                            }
                        }
                    </td>
                    <td>
                        <button class="btn btn-default"><a href="/Admin/SupplierTypes/Edit/@item.SupplierTypeId" style="text-decoration:none;">Xem</a></button>
                        <button class="btn btn-default"><a href="/Admin/SupplierTypes/Delete/@item.SupplierTypeId" style="text-decoration:none;">Sửa</a></button>
                        <button class="btn btn-default"><a href="/Admin/SupplierTypes/Delete/@item.SupplierTypeId" style="text-decoration:none;">Xóa</a></button>
                    </td>
                   
                </tr>
            }

        </table>
    </div>
</div>

