@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Sign In | Bootstrap Based Admin Template - Material Design</title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="/Scripts/myscript/bootstrap.css" rel="stylesheet" />
    <link href="/Content/vendor/style.css" rel="stylesheet" />
</head>
<body class="login-page">
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">Admin<b>Redrelvet</b></a>
            <small>Quản trị website redrelvet</small>
        </div>
        <div class="card">
            <div class="body">
                <form role="form" action="/Admin/Home/Login" method="post">
                    <div class="msg">Đăng nhập để bắt đầu phiên làm việc</div>
                    <p style="color:red; font-size:12px;">@ViewBag.error</p>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="username" placeholder="Tên đăng nhập" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="password" placeholder="Mật khẩu" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 p-t-5">
                            <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
                            <label for="rememberme">Lưu thông tin đăng nhập</label>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-block bg-pink waves-effect" type="submit"> ĐĂNG NHẬP </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Jquery Core Js -->
    <script src="/Content/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="/Content/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="/Scripts/jquery.validate.js"></script>
</body>
</html>
<script>
    $(document).ready(function () {
        $("p").delay(2000).fadeOut(2000);
    });
</script>
