<div class="row" id="contact">

    <div class="col-sm-5 col-sm-offset-7 col-xs-10 col-xs-offset-2">
        <div class="contact_area wow slideInLeft" data-wow-duration="2s">
            <div class="head_title text-center">
                <h2>LIÊN HỆ</h2>
                <div class="separetor"></div>
            </div>

            <div class="main_contact_content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="single_contact text-left">
                            <h5>Địa chỉ </h5>
                            <span>34/28A Nguyen Huu Trinh</span>
                            <span>Quan 1, Thanh pho Ho Chi Minh</span>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="single_contact text-left">
                            <h5>Thông tin liên hệ nhà hàng</h5>
                            <span>redvelvets.restaurant@gmail.com</span>
                            <span>+48 123-312-3422</span>
                        </div>
                    </div>
                </div>

                <div class="contact_form_area">
                    <h3>Hỗ trợ khách hàng</h3>
                    <form action="#" id="formid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="3" placeholder="Nội dung"></textarea>
                                </div>


                            </div>

                            <div class="form_btn_area text-center">
                                <a class="btn btn-info" onclick="Gui();">Gửi phản hồi</a>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>
<script>
    function Gui(){
        alert("Đã gửi phản hồi thành công! Cảm ơn vì đã phản hồi website nhà hàng của chúng tôi!");
    }
</script>