 <!-- Begin cart -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Danh sách đặt món</h4>
            </div>
            <div class="modal-body">
                <p>Meal list</p>
                <table class="table table-striped" id="mealtable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Hình ảnh</th>
                            <th>Tên món</th>
                            <th>Giá</th>
                            <th>Mô tả</th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" data-toggle="modal" data-target="#Payment">Make a reservation</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>




    </div>
</div>
<!-- end cart -->
