
        <nav class="nav navbar-default top-navbar head" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">RED VELVET</a>
            </div>

            <ul class="nav navbar-top-links navbar-right head">

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i>
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">
                                <i class="fa fa-user fa-fw"></i> User Profile
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-gear fa-fw"></i> Settings
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <i class="fa fa-sign-out fa-fw"></i> Logout
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        
        <nav class="nav navbar-side menu" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu" style="text-align: center">
                    <li>
                        <a class="active-menu" href="/Staff/Order/Index">
                            <i class="fa fa-dashboard fa-3x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/Staff/Order/ConfirmReservation">
                            <i class="fa fa-user fa-3x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/Staff/Order/Calendar" >
                            <i class="fa fa-desktop fa-3x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/Staff/Order/Report">
                            <i class="fa fa-bar-chart-o fa-3x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-qrcode fa-3x"></i>
                        </a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        
        <!-- /. PAGE WRAPPER  -->
   
