   <!-- Modal -->
<style>
    .zoom:hover {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.5);
    }
</style>
<div class="modal fade" id="xemMonAnThucUong" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thông tin món ăn thức uống</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="frmXemMonAnThucUong">
                    <div class="form-group">
                        <label for="txtTenMonAnThucUongX">Tên món ăn thức uống :</label>
                        <input name="txtTenMonAnThucUongX" id="txtTenMonAnThucUongX" class="form-control" />
                        <input id="idTemp" hidden/>
                    </div>
                    <div class="form-group">
                        <label for="txtDonGiaX">Đơn giá :</label>
                        <input type="text" class="form-control" name="txtDonGiaX" id="txtDonGiaX">
                    </div>
                    <div class="form-group">
                        <label for="txtDonViX">Đơn vị tính :</label>
                        <select class="form-control" id="txtDonViX">
                            <option value="">Chọn đơn vị tính</option>
                            <option value="Đĩa">Đĩa</option>
                            <option value="Ly">Ly</option>
                            <option value="Chai">Chai</option>
                            <option value="Lon">Lon</option>
                            <option value="Chén">Chén</option>
                            <option value="Phần">Phần</option>
                            <option value="Thẩu">Thẩu</option>
                            <option value="Rổ">Rổ</option>
                            <option value="Tô">Tô</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <span style="float:left;width:280px;height:130px;;">
                            <label for="txtHinhAnhX">Hình ảnh :</label>
                            <input type="text" class="form-control" name="txtHinhAnhX" id="txtHinhAnhX" readonly="readonly">
                            <a id="btnSelectImageX" class="btn btn-default" href="#">Chọn hình</a>
                            <a id="btnClearImageX" class="btn btn-default" href="#">Hủy chọn</a>
                        </span>
                        <span style="float:left;width:280px;height:130px;align-content:center;padding-right:50px;padding-top:20px;">
                            <img id="imgImageX" class="zoom" width="120" height="120" style="float:right;" />
                        </span>
                    </div><br /><br />

                    <div class="form-group">
                        <label for="txtPhanLoaiX">Phân loại :</label>
                        <select class="form-control" id="txtPhanLoaiX">
                            <option value="">Chọn loại</option>
                            <option value="Món ăn">Món ăn</option>
                            <option value="Thức uống">Thức uống</option>
                            <option value="Tráng miệng">Tráng miệng</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnSuaX">Sửa</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

