    </div>
<!-- /#wrapper -->

<!-- Bootstrap Core JavaScript -->
<script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="~/Content/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="~/Content/vendor/raphael/raphael.min.js"></script>
<script src="~/Content/vendor/morrisjs/morris.min.js"></script>
<script src="~/Content/data/morris-data.js"></script>
<!-- Custom Theme JavaScript -->
<script src="~/Content/dist/js/sb-admin-2.js"></script>
<script src="~/Scripts/bootstrap-notify.min.js"></script>
<link href="~/Scripts/plugins/formValidate.css" rel="stylesheet" />
</body>

</html>

