@model IEnumerable<ResWebsite.DAL.Entity1.PhanQuyen>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/plugins/bootbox.min.js"></script>
<script src="~/Scripts/plugins/jquery.twbsPagination.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/Controllers/phanQuyenController.js"></script>
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Nhân viên</h3>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item " aria-current="page">Trang chủ</li>
        <li class="breadcrumb-item active" aria-current="page">Phân quyền</li>
    </ol>
</nav>
<div class="row">
    <div class="col-lg-12">
        <p id="tenNhanVien" >Chia ca làm việc cho nhân viên : </p>
    </div>
    <hr />
    <div class="col-lg-12">
        <div class="col-lg-6">
            <p>Danh sách các nghiệp vụ</p>
            <select class="form-control target" id="txtNghiepVu">
                
            </select>
        </div>
        <div class="col-lg-6">
            <p>Danh sách các quyền hạn</p>
            <div id="listQuyenHan"></div>
        </div>
    </div>
</div>
